<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>

	<body>
		<nav th:fragment="header">
			<div class="container-fluid">
				<div class="row align-items-center justify-content-center justify-content-md-between my-3">
					<div class="col-md-6">
						<a class="navbar-brand" href="http://localhost:5173/">
							<img th:src="@{/img/albums.svg}" alt="Logo" width="150">
						</a>
					</div>
					<div sec:authorize="hasAnyAuthority('SUPERADMIN','ADMIN')" class="mb-4 mb-md-0 col-md-6">
						<form class="d-flex" method="GET" th:action="@{/admin/photos}">
							<input type="text" class="form-control" th:value="${title}" name="title">
							<button class="btn btn-sm btn-dark mx-2" type="submit"><i
									class="fa-solid fa-magnifying-glass"></i></button>
									<a class="btn btn-outline-dark" th:href="@{/logout}">
							Esci 
						</a>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</body>

</html>