<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foto</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
				<th:block th:replace="~{fragments/header :: header}">
		</th:block>
	</header>

	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 text-end">
					<a  sec:authorize="hasAuthority('ADMIN')"  th:href="@{photos/create}" class="btn btn-sm btn-success"><i
						class="fa-solid fa-plus"></i> Aggiungi</a>
					<a  sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/categories}" class="btn btn-sm btn-dark">Lista categorie</a>
				</div>
				<table class="table">
					<thead>
						<tr>

							<th scope="col">#</th>
							<th scope="col">Utente</th>
							<th scope="col">Titolo</th>
							<th colspan="2" scope="col">Descrizione</th>
							<th scope="col">Anteprima</th>
							<th scope="col">Visibilità</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="photo : ${photos}" th:object="${photo}"
							th:if="${photos.size() > 0}">
							<th>[[*{id}]]</th>
							<th>[[*{user.username}]]</th>
							<td>
								<a th:href="@{photos/{id} (id=*{id})}"
								class="text-black text-decoration-none">[[*{title}]]
								</a>
							</td>
							<td colspan="2">[[*{description}]]</td>
							<td>
								<a th:href="@{photos/{id} (id=*{id})}"><img
									th:src="*{url}" alt="photo" width="80" height="66"
									class="d-inline-block">
								</a>
							</td>
							<td sec:authorize="hasAuthority('ADMIN')">
								[[${photo.visible ? 'Visibile' : 'Non visibile'}]]
							</td>
							<td sec:authorize="hasAuthority('SUPERADMIN')">
								<form  th:action="@{/sadmin/photos/{id}/visible (id=*{id})}" method="POST" class="d-flex flex-column align-items-center">
									<button class="btn btn-outline-secondary">
										<i th:unless="*{visible}" class="fa-regular fa-eye"></i>
										<i th:if="*{visible}" class="fa-regular fa-eye-slash"></i>
									</button>
								</form>
							</td>
							<td><a th:href="@{photos/{id} (id=*{id})}"
								class="btn btn-sm btn-primary" ><i
									class="fa-solid fa-circle-info"></i></a>
									 <a sec:authorize="hasAuthority('ADMIN')" th:href="@{photos/edit/{id} (id=*{id})}"
								class="btn btn-sm btn-warning"><i class="fa-solid fa-pen"></i></a>
								<a  sec:authorize="hasAuthority('ADMIN')" th:href="@{photos/delete/{id} (id=*{id})}"
								class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a></td>
						</tr>
						<tr th:unless="${photos.size() > 0}">
							<td colspan="7" class="text-center">Nessuna foto trovata</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</main>
</body>

</html>